#!/usr/bin/env bash

# mvim as terminal macvim and not launching the GUI macvim app
# alias mvim="mvim -v"
alias mvim="vim"
# Use vim from /usr/bin/vim, this is a proposed fix to make YouCompleteMe work:
# https://github.com/Valloric/YouCompleteMe/issues/1241
# alias vim="/usr/bin/vim"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
# # enable go to parent directory with command "cdd"
# alias cdd='cd -'
# visit a series of directories one after the other in a circular way
#alias cd="eval `cdring !* ' '`"


# Shortcuts
# Navigation shortcuts
alias cddr="cd ~/Dropbox"
alias cddl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias cdjd="cd ~/jon-dotfiles"
alias cdt="cd ~/Dropbox/TeX_stuff"
alias cdtt="cd ~/Dropbox/TeX_stuff/templates"
alias cdvb="cd ~/.vim/bundle"
alias cdcui="cd ~/Dropbox/cuisine"
alias cdpy="cd ~/Dropbox/python_stuff"
alias cdpym="cd ~/Dropbox/python_stuff/my_python_modules"
alias cdc="cd ~/Dropbox/c_stuff"
alias cdcourses="cd ~/Dropbox/courses"
alias cdana="cd ~/Dropbox/courses/Physics_courses_material/Analyse\ I\ et\ II/"
alias cdep="cd ~/Dropbox/EPFL_2018-2019/"
alias cdka="cd ~/Dropbox/kaggle/"
alias cdproj="cd ~/Dropbox/kaggle/India/"
alias cdpic="cd ~/Pictures/Bibliothèque\ Photos.photoslibrary/Masters"
alias cdcv="cd ~/Dropbox/Curriculum_Vitae"

# Courses
alias cdml="cd ~/Dropbox/EPFL_2018-2019/Semester_1/ML"
alias cdnlp="cd ~/Dropbox/EPFL_2018-2019/Semester_1/NLP"
alias cdshs="cd ~/Dropbox/EPFL_2018-2019/Semester_1/SHS_1"
alias cdlm="cd ~/Dropbox/EPFL_2018-2019/Semester_1/linear_models"
alias cdmod="cd ~/Dropbox/EPFL_2018-2019/Semester_1/maths_of_data"
alias cdntds="cd ~/Dropbox/EPFL_2018-2019/Semester_1/network_tour_of_ds"
alias cds4ds="cd ~/Dropbox/EPFL_2018-2019/Semester_1/stats4ds"
alias cday="cd ~/Dropbox/EPFL_2018-2019/admission_year"
alias cds="cd ~/Dropbox/EPFL_2018-2019/Semester_1"
alias cdsp="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/signal_processing"
alias cddb="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/introduction_to_database_systems"
alias cdpdb="cd ~/Dropbox/intro_database_project"
alias cdpc="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/parallelism_and_concurrency"
alias cdana="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/analyse4"
alias cdcs="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/circuits_and_systems_2"
alias cdaa="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/advanced_algorithms"
alias cdai="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/intelligence_artificielle"
alias cdts="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/time_series"
alias cdlt="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/learning_theory"
alias cdoml="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/optimization_for_ML"
alias cdlds="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/lab_in_data_science"
alias cdco="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_2/these_courses_are_not_graded/convex_optimization"
alias cdml2="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/machineLearning"
alias cdnlp2="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/NLP"
alias cdal="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/algorithms"
alias cdms="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/modstoch"
alias cdfp="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/functionalProgramming"
alias cds4ds2="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/statistics4ds"
alias cdshs2="cd ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/SHS_I"
# Org
alias cdorg="cd ~/Dropbox/org"

# Open frequently used things
# present semester's timetable
alias opt="open ~/Dropbox/EPFL_2018-2019/Semester_1/timetable/timetable_Master_DS_semester_1.png"
alias opgma="open https://maps.google.com"
alias opgtr="open https://translate.google.com"
alias opgdr="open https://drive.google.com"
alias opgca="open https://calendar.google.com"
alias opwh="open https://web.whatsapp.com"

# Open courses' webpage
alias opmoodle="open https://moodle.epfl.ch/my/"
alias opsp="open http://com303.learndsp.org/view/main/"
alias opdb="open https://moodle.epfl.ch/course/view.php?id=198"
alias oppc="open https://courseware.epfl.ch/courses/course-v1:EPFL+CS-206+2019_T1/course/"
alias oppcg="open https://gitlab.epfl.ch/lamp/student-repositories-s19/cs206-doenz"
alias opana="open https://moodle.epfl.ch/course/view.php?id=15556"
alias opcs="open https://moodle.epfl.ch/course/view.php?id=14380"
alias opaa="open https://moodle.epfl.ch/course/view.php?id=13734"
alias opoml="open https://github.com/epfml/OptML_course"
alias opts="open https://moodle.epfl.ch/course/view.php?id=15393"
alias opai="open https://moodle.epfl.ch/course/view.php?id=456"
alias oplds="open https://dslab2019.github.io"
alias opco="open https://moodle.epfl.ch/course/view.php?id=14397"
alias opml="open https://www.epfl.ch/labs/mlo/machine-learning-cs-433"
alias opmlmo="open https://moodle.epfl.ch/course/view.php?id=14221"
alias opmlgh="open https://github.com/epfml/ML_course"
alias opmlr="open https://www.overleaf.com/project/5de511a635faa10001b0a7d7"
alias opntdsmo="open https://moodle.epfl.ch/course/view.php?id=15299"
alias opntdsgh="open https://github.com/mdeff/ntds_2019"
alias opntdsr="open https://www.overleaf.com/project/5e002d816dd7730001d5fff3"
alias opnlp="open https://coling.epfl.ch/"
alias opnlpmo="open https://moodle.epfl.ch/course/view.php?id=14940"
alias opmodmo="open https://moodle.epfl.ch/course/view.php?id=14220"
alias oplmmo="open https://moodle.epfl.ch/course/view.php?id=15444"
alias oplshsmo="open https://moodle.epfl.ch/course/view.php?id=15937"
alias opshsr="open https://fr.overleaf.com/5929248872hpmjdmsghrgm"
alias opal="open https://theory.epfl.ch/courses/algorithms/"
alias opfp="open https://courseware.epfl.ch/dashboard"
alias ops4ds="open http://smat.epfl.ch/courses/datasci.php"
alias opanaph="open http://sma.epfl.ch/cours/csma/analyse4.htm"
alias opshs="open https://moodle.epfl.ch/course/view.php?id=14245"
alias opgdvim="open https://drive.google.com/drive/u/0/folders/1FvS5JhQHwxc2WyayvFFJQZ4KO0lfgJ9x"
alias opmbcm="open https://gm-sittr-prod.s3.amazonaws.com/timetables/mbc/2019/5_701_Blancherie_dir_Bourdonnette.pdf"
alias opmbce="open https://gm-sittr-prod.s3.amazonaws.com/timetables/mbc/2019/6_701_Parc_Scientifique_dir_Morges_gare.pdf"
alias oplatexsymbols="open https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols"
alias tt="qlmanage -p ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/zetimetable/timetable_MA1_cropped_2.pdf"
# alias tt="open ~/Dropbox/EPFL_2018-2019/admission_year/Semester_1/zetimetable/timetable_MA1_cropped_2.pdf"
# Temporary cd alias
alias cdphysio="cd ~/Dropbox/physio"

# Github shortcuts
alias g="git"
alias gits="git status"
alias gita="git add"
alias gitc="git commit -m"
alias gitb="git branch"
alias gitd="git diff"
alias gitu="git reset HEAD --"
alias gitco="git checkout"

# Vim shortcuts
alias lvim="vim -c \"normal '0\"" # open last modified file in vim
# alias v="vim \"+normal\\\`\\\"" # (does not work for now) open in vim at last modified line)
alias vimv="vim ~/.vimrc"
alias vimvg="cd ~/jon-dotfiles; vim .vimrc"
alias vima="vim ~/.aliases"
alias vimag="cd ~/jon-dotfiles; vim .aliases"
alias vimf="vim ~/.functions"
alias vimfg="cd ~/jon-dotfiles; vim .functions"
alias vimw="vim ~/vimwiki/index.wiki"
alias vimwt="vim ~/vimwiki/Tasks.wiki"
alias vimt="vim ~/.tmux.conf"
alias vimread="vim ~/Dropbox/org/gtd/reading.org"
alias vimju="vim ~/Library/Jupyter/nbextensions/snippets/snippets.json"
alias vimrm="vim README.md"
alias vimtd="vim ~/Dropbox/EPFL_2018-2019/Semester_1/study_todos.md"
# temporary alias
alias vime="vim ~/Dropbox/python_stuff/test.py"
alias stm="tmux source ~/.tmux.conf"
alias vip="vim !(__init__).py"
# alias vip="vim *.py"

# TeX shortcuts
alias TeXa="cp ~/Dropbox/TeX_stuff/templates/article_template.tex"
alias TeXb="cp ~/Dropbox/TeX_stuff/templates/beamer_template.tex"

# Launch jupyter notebook/lab
alias jn="jupyter notebook"
alias jl="jupyter lab"

# Launch python3 in terminal
alias p3="python3"

# Launch quickview from terminal
alias qlf="qlmanage -p "$@""
# alias ql="qlmanage -p "$@" &gt;& /dev/null"

# Quickview present semester's timetable
alias qlft="qlmanage -p ~/Dropbox/EPFL_2018-2019/Semester_1/timetable/timetable_Master_DS_semester_1.png"
# Quickview NTDS course's shedule
alias qlfntdss="qlmanage -p ~/Dropbox/EPFL_2018-2019/Semester_1/network_tour_of_ds/ntds2019_schedule_v4.pdf"

# Look at local weather forecast
alias opwf="open https://darksky.net/forecast/46.5093,6.4983/ca24/en"

# Scrape pdf files using my script ~/Dropbox/python_stuff/scraping_pdf.py
alias scrape_pdfs="~/Dropbox/python_stuff/scraping_script.py"

# Miscellaneous shortcuts
alias sb="source ~/.bash_profile"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# # Google Chrome
# alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
# alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# # IP addresses
# alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias localip="ipconfig getifaddr en0"
# alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# # Show active network interfaces
# alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# # Canonical hex dump; some systems have this symlinked
# command -v hd > /dev/null || alias hd="hexdump -C"

# # macOS has no `md5sum`, so use `md5` as a fallback
# command -v md5sum > /dev/null || alias md5sum="md5"

# # macOS has no `sha1sum`, so use `shasum` as a fallback
# command -v sha1sum > /dev/null || alias sha1sum="shasum"

# # JavaScriptCore REPL
# jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
# [ -e "${jscbin}" ] && alias jsc="${jscbin}";
# unset jscbin;

# # Trim new lines and copy to clipboard
# alias c="tr -d '\n' | pbcopy"

# # Recursively delete `.DS_Store` files
# alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# # One of @janmoesen’s ProTip™s
# for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
# 	alias "${method}"="lwp-request -m '${method}'"
# done

# # Make Grunt print stack traces by default
# command -v grunt > /dev/null && alias grunt="grunt --stack"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
